{
	parser: "babel-eslint",
	"plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "globals": {
    	document: true,
        module: true,
        setTimeout: true
    }
}
